<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>146344720394-dnsud382aq5crfn9bp7hvq5e2vn53frv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.146344720394-dnsud382aq5crfn9bp7hvq5e2vn53frv</string>
	<key>API_KEY</key>
	<string>AIzaSyCAn4akEF9v2wsoAaMx2tfzEzI7crR_M08</string>
	<key>GCM_SENDER_ID</key>
	<string>146344720394</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ai.freshflow.fluttertakehometest</string>
	<key>PROJECT_ID</key>
	<string>myshop-e5294</string>
	<key>STORAGE_BUCKET</key>
	<string>myshop-e5294.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:146344720394:ios:eb456676f825d1d890c7f3</string>
</dict>
</plist>